@font-face {
  font-family: 'ERASBD';
  src:  url("/ERASBD.TTF");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: #040404;
  font-family: 'ERASBD', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
button, input {
  font-family: 'ERASBD', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
input {
  color: #FEFEFE;
}
body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.switch{
  position: relative;
  cursor: pointer;
}
.switch-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 2rem;
  height: 100%;
  z-index: 2;
  border: 0;
  appearance: none;
  cursor: pointer;
}
.switch-container {
  position: relative;
  width: 4rem;
  height: 28px;
  /* border-radius: 28px; */
  background: #262626;
  z-index: 0;
  margin: 0;
  padding: 0;
  appearance: none;
  border: 0;
  transition: all 0.3s;
}
.switch-container::after {
  position: absolute;
  left: 1px;
  top: 1px;
  width: 2rem;
  height: 26px;
  /* border-radius: 50%; */
  background-color: #191919;
  content: "";
  transition: all 0.3s;
}
.switch-container-checked {
  background-color: #00FFD1;
}
.switch-container-checked::after {
  transform: translateX(30px);
}

/*  input  */
input[type=number] {
  appearance:textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
html {
  font-size: 16px;
}