.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  position: fixed;
  width: 100vw;
  z-index: -1;
  top: 0;
  left: 0;
  background: url("/images/home/home-bg.png");
}
.HUNTERSWAP {
  background: none;
}